<!DOCTYPE html>
<html>
    <head>
        <title>Flask-SSE Quickstart</title>
    </head>
    <body>
        <h1>Flask-SSE Quickstart</h1>

        <div id="show-message">

        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
            crossorigin="anonymous">
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            var source = new EventSource(`http://127.0.1:5000/stream?channel={{uname}}&Authorization={{uname}}`);
            source.addEventListener("{{uname}}", function(event) {
                var data = JSON.parse(event.data);
                html_body = `<h2>${data.message}</h2>`
                $('#show-message').append(html_body);
            }, false);
            source.addEventListener('error', function(event) {
                console.log("Failed to connect to event stream. Is Redis running?");
            }, false);
        </script>
    </body>
</html>
